/*
-   website 2 "trade fair"
-   CopyRight By Mayank
-   Designed & Developed By Mayank
-   CSS : css/about
*/
#about
{
    padding: 2rem;
    min-height: auto;
    display: grid;
    grid-template-columns: 40% 60%;
    background: var(--light);
}
#about .col:first-child
{
    background: var(--black);
}
#about #picture
{
    margin: 10% 0 10% 20%;
    width: 100%;
    height: 80%;
    object-fit: cover;
}
#about .col:last-child
{
    padding: 1rem 1rem 1rem 20%;
}
h4
{
    padding: 1rem;
    font:normal 2rem var(--text);
    color:var(--black);
}
p
{
    padding: 1rem;
    word-spacing: 2px;
    font:normal 1rem var(--text);
}