/*
-   website 2 "trade fair"
-   CopyRight By Mayank
-   Designed & Developed By Mayank
-   CSS : css/footer
*/
/*
    FOOTER CSS --------------------------------------------
*/
#footer
{
    padding: 1rem 2rem;
    font:1rem var(--text);
    background: var(--black);
}
#footer a
{
    display: inline-block;
    color: var(--dark);
}
#footer a:hover
{
    color:var(--light);
}
#condition a
{
    padding: 1rem 0.5rem;
}
#footer #top
{
    padding: 1rem 0;
    border-bottom: 1px solid var(--dark);
}
#footer :is(#bottom,#top)
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}
#develope
{
    color: var(--dark);
}
.copy
{
    font:1rem var(--text);
    color:var(--dark);
}
#social
{
    display: grid;
    grid-gap:1rem;
    grid-template-columns: repeat(3,1fr);
}
#social .media
{
    display: block;
    background: var(--dark);
    border-radius: 10px;
}
#social .media:hover
{
    background:var(--light);
}
#social .media img
{
    width: 30px;
    height: auto;
    object-fit: contain;
}