/*
-   website 2 "trade fair"
-   CopyRight By Mayank
-   Designed & Developed By Mayank
-   CSS : css/response
*/

/*
    1200PX SCREEN CSS --------------------------
*/
@media (max-width: 1200px)
{
    /* HOME */
    #home .col:first-child
    {
        padding: 20% 0 20% 2rem;
    }
    /* OBJECTIVE */
    #objective
    {
        grid-template-columns: repeat(3,1fr);
    }
}
/*
    992PX SCREEN CSS ---------------------------
*/
@media (max-width: 992px)
{
    #header
    {
        height: auto;
    }
    #menu_btn
    {
        display: none;
    }
    #menu a
    {
        padding: 1rem;
        text-align: center;
        border:none;
        border-top:3px solid transparent;
    }
}
/*
    768PX SCREEN CSS ---------------------------
*/
@media (max-width: 768px)
{
    body
    {
        position: relative;
    }
    /* SIGNIN */
    #signin
    {
        flex-direction: column;
        padding: 2rem 0;
    }
    #signin_form
    {
        order:1;
        width: 90%;
        margin: 1rem auto;
    }
    #form_detail
    {
        width: 90%;
        margin:auto;
    }
    /* HEADER */
    #menu_btn
    {
        position: absolute;
        top:2vh;
        right: 1rem;
        text-align: center;
        display: inline;
    }
    #menu
    {
        display: none;
        width: 400px;
        background:var(--black);
    }
    #menu a
    {
        width: 100%;
        padding: 2rem 4rem;
        text-align: left;
        border:none;
        border-left:3px solid transparent;
    }
    #menu a:last-child
    {
        padding: 1rem;
        margin: 1rem auto;
        width: 70%;
        border-radius: 0;
        text-align: center;
    }
    .nav_open
    {
        display: grid;
        place-content: center;
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100vh;
        background:rgba(0,0,0,0.5);
    }
    #header
    {
        height: 10vh;
    }
    /* HOME */
    #home
    {
        grid-template-columns: 1fr;
    }
    /* ABOUT */
    #about
    {
        padding: 1rem 0;
    }
    #about #picture
    {
        margin: 10% 0 10% 10%;
    }
    #about .col:last-child
    {
        padding: 1rem 1rem 1rem 10%;
    }
    /* FOOTER */
    #footer #top
    {
        display: grid;
    }
    #develope
    {
        text-align: center;
        grid-row:1/2;
        padding: 1rem;
    }
}
/*
    576PX SCREEN CSS -----------------------------
*/
@media (max-width: 576px)
{
    #menu
    {
        width: 80vw;
    }
    /* HOME */
    #home #title
    {
        font-size: 3.5rem;
    }
    #home h2
    {
        font-size: 2rem;
    }
    #home storng
    {
        font-size: 1.5rem;
    }
    #home .col:first-child
    {
        padding: 20% 2rem 10% 2rem;
    }
    /* LOGIN */
    #login_form
    {
        width: 90%;
        padding: 1rem;
    }
    #login_form > div
    {
        margin: 1rem 0;
    }
    /* OBJECTIVE */
    #objective
    {
        padding: 1rem;
        grid-template-columns: repeat(1,1fr);
    }
    /* ABOUT */
    #about
    {
        padding: 0;
        grid-template-columns: 1fr;
    }
    #about #info
    {
        grid-row:1/2;
    }
    #about #picture
    {
        width: 90%;
        height: 90%;
        margin: 1rem 0 0 1rem;
        object-fit: contain;
    }
    #about .col:last-child
    {
        padding: 1rem;
    }
    /* FOOTER */
    #footer
    {
        padding: 0.5rem;
    }
    #footer :is(#bottom,#top)
    {
        padding: 1rem;
        display: grid;
        justify-content: center;
    }
    .copy
    {
        padding: 2rem 0;
    }
    #social
    {
        justify-self: center;
    }
}
/*
    375PX SCREEN CSS --------------------------------
*/
@media (max-width: 375px)
{
    #home .btn
    {
        margin-bottom: 5rem;
    }
    #second_header
    {
        padding: auto 1rem;
    }
    #second_header h2
    {
        font-size: 18px;
    }
    #back_btn
    {
        padding: 1rem;
    }
}
/*
    =================================================
*/